name: Docker Fullstack CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./journal_backend
          file: ./journal_backend/backend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/journal-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./journal_frontend
          file: ./journal_frontend/frontend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/journal-frontend:latest
